<!-- wp:template-part {"slug":"header","area":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->
<main class="wp-block-group">
	<!-- wp:pattern {"slug":"twentytwentyfour/hero-build"} /-->

	<!-- wp:pattern {"slug":"twentytwentyfour/timeline-build"} /-->

	<!-- wp:pattern {"slug":"twentytwentyfour/featured-projects-build"} /-->

	<!-- wp:pattern {"slug":"twentytwentyfour/about-build"} /-->

	<!-- wp:pattern {"slug":"twentytwentyfour/contact-build"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"footer"} /-->
